<!DOCTYPE html>
<html>
<head>
    <title>Guwop Vox: A Gucci Mane Digital Soundboard </title>
    <link rel="stylesheet" href="css/html-body-reset.css"/>
    <link href='http://fonts.googleapis.com/css?family=Rum+Raisin|Hammersmith+One|Ledger' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div id="plaque"><img src="img/plaque.png"></div>
    <script type="text/template" id="face-container-template">
            <img src="img/gucci-mane-smile.png" class="face">
            <div class="text-container"><h3><%= phraseText%></h3></div>
            <audio  id="<%= audioName %>-audio">
                <source src="audio/<%= audioName %>.mp3" type="audio/mp3">
            </audio>
    </script>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/gucci-backbone.js"></script>
    <script src="js/gucci.js"></script>
</body>
</html>