

body {
    background-color: greenyellow;
}

h1 {
    text-align: center;
    color: antiquewhite;
    margin-top: 0;

}

.header {
    width: 100%;
    margin-top: 0;
    background-color: black;

}

.vox-container {
    background-color: antiquewhite;
    border-radius: 5px;

}

.all-face-container {
    margin-top: 40px;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 10px;
}

h3 {

    text-align: center;
}